@keyframes banner{
    25%{
        background-image: url('../img/banner/principal/bn_principal_3.png');
    }
    50%{
        background-image: url('../img/banner/principal/bn_principal_2.png');
    }
    75%{
        background-image: url('../img/banner/principal/bn_principal_4.png');
    }
    100%{
        background-image: url('../img/banner/principal/bn_principal_5.png');
    }

}

@keyframes att{
    25%{
        background-image: url('../img/banner/principal/bn_tattoo_8.png');
    }
    50%{
        background-image: url('../img/banner/principal/bn_tattoo_27.png');
    }
    75%{
        background-image: url('../img/banner/principal/bn_tattoo_38.png');
    }
    100%{
        background-image: url('../img/banner/principal/bn_tattoo_16.png');
    }
}

@keyframes tattoo{
    25%{
        background-image: url('../img/banner/principal/bn_tattoo_32.png');
    }
    50%{
        background-image: url('../img/banner/principal/bn_tattoo_18.png');
    }
    75%{
        background-image: url('../img/banner/principal/bn_tattoo_42.png');
    }
    100%{
        background-image: url('../img/banner/principal/bn_tattoo_29.png');
    }
}

@keyframes tattoo_cover{
    25%{
        background-image: url('../img/banner/cover/bn_tattoo_cover_3.jpg');
        background-position: center bottom;
    }
    50%{
        background-image: url('../img/banner/cover/bn_tattoo_cover.png');
        background-repeat: no-repeat;
    }
    75%{
        background-image: url('../img/banner/cover/bn_tattoo_cover_2.png');
        background-position: center center;
    }
    100%{
        background-image: url('../img/banner/cover/bn_tattoo_cover_4.jpg');
    }
}
